body {
    background-color: #0FA3B1;
    color: #D9E5D6;

 }

 header{
   margin: 2rem;
     padding: 2.5rem;
 }


 .btn-primary:hover {
     color:#D9E5D6;
     background-color:#F7A072;
     border-color:#0FA3B1;    
 }

.btn-primary {
    color:#D9E5D6;
    background-color:#0FA3B1;
    border-color:#0FA3B1;
}
.btn-outline-primary {
    color:#F7A072;
    border-color:#EDDEA4;

}
.btn-outline-primary:hover {
    color: #D9E5D6;
    background-color: #F7A072;
    border-color:#FF9B42;
}

.card {
    background-color: #F7A072;
}
.card-body{
    background-color:#0FA3B1;
}
.time{
    padding:2rem;

}

#q1, #q2, #q3, #q4, #q5 {
    display: none;
}


#timer {
    font-size: x-large;
}

